body {
    margin-top: 0px;
    background: #f5f5f5;
  }

.top-word h1{
	padding-top: 20px;
	color: #2B594E;
}

.btn-success {
	background-color: #aad9cd;
	border-color: #aad9cd;
	color: #2B594E;
}

.btn-light {
	color: #2B594E;
}

.dropdown-menu {
	background-color: #A9D9CD;
}

.user-link {
	color: #2B594E;
}

.fa-stack {
	color: #aad9cd;
}

/* USER LIST TABLE */
.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

.table {
	column-gap: 0cm;
	row-gap: 0cm;
}

.user-list {
	padding: 0%;
	margin: 0pt;
}

.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	background: #f5f5f5;
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	border-bottom: 2px solid #C2C2C2;
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 5px;
	font-weight: normal;
}
.table thead > tr > th > a span {
	color: #344644;
}
.table thead > tr > th > a span:after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-left: 5px;
	font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
	content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
	content: "\f0de";
}
.table thead > tr > th > a:hover span {
	text-decoration: none;
	color: #2bb6a3;
	border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
	display: block;
	font-size: 0.75em;
	text-align: center;
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: #969696;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #2aa493;
}
.table a.table-link.danger {
	color: #fe635f;
}
.table a.table-link.danger:hover {
	color: #dd504c;
}

.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: #f6f6f6;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.table-products .price {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .price > i {
	color: #8dc859;
}
.table-products .warranty {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .warranty > i {
	color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
	background-color: #9daccb;
	color: #262525;
}
.table tbody > tr.table-line-twitter > td {
	background-color: #9fccff;
	color: #262525;
}
.table tbody > tr.table-line-plus > td {
	background-color: #eea59c;
	color: #262525;
}
.table-stats .status-social-icon {
	font-size: 1.9em;
	vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
	color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
	color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
	color: #a75d54;
}

.search-box {
    margin: 30px auto;
}
.search-box .btn-light {
    border: 1px solid #ced4da;
}



i.fa {
	display: inline-block;
 }

 .open-button {
	background-color: #555;
	color: white;
	padding: 3px 3px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	bottom: 23px;
	right: 28px;
	width: 80px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
	display: none;
	position: absolute;
    margin-top: -450px;
	margin-left: -50px;
	top: calc(50%);
	left: calc(50% - 50px);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	background: none;
  }
  
  /* Add styles to the form container */
  .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=date] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=date]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
	background-color: rgb(50, 144, 53);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: rgb(162, 21, 21);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }