<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    
    <!-- Custom styles for this template -->
    
  </head>
  <body> 
    <div class="jumbotron text-center">
        <h1 class="display-3">PCS Admin Added.</h1>
        <br>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/admin/registeradmin" role="button">Add another admin</a>
          <a class="btn btn-primary btn-lg" href="/admin/<%= username %>" role="button">Profile</a>
            
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; PCS 2020</p>
      </div>
        
</body>
</html>