<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    
    <!-- Custom styles for this template -->
    
  </head>
  <body> 
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You For Registering</h1>
        <p class="lead"><strong>Welcome to our PCS Family!</strong></p>
        <br>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Login</a>
          <a class="btn btn-primary btn-lg" href="/" role="button">Homepage</a>
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; PCS 2020</p>
      </div>
        
</body>
</html>