body {
  margin-top: 0px;
  background: #f5f5f5;
}

.ui-w-100 {
  width: 100px !important;
  height: auto;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.user-view-table td:first-child {
  width: 9rem;
}

.user-view-table td {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}

.text-light {
  color: #babbbc !important;
}

.card .row-bordered>[class*=" col-"]::after {
  border-color: rgba(24, 28, 33, 0.075);
}

.text-xlarge {
  font-size: 170% !important;
}

.btn-primary {
  background-color: #8da47e;
  border-color: #8da47e;
}

.btn-default {
  border-color: #8da47e;
}

.btn:hover {
  background-color: #466630;
  border-color: #466630;
}

.fa-check {
  color: #8da47e;
}