
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pet Owner Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{
            margin-top:0px;
            background: #f5f5f5;
        }

        .ui-w-100 {
            width: 100px !important;
            height: auto;
        }

        .card {
            background-clip: padding-box;
            box-shadow: 0 1px 4px rgba(24,28,33,0.012);
        }

        .user-view-table td:first-child {
            width: 9rem;
        }
        .user-view-table td {
            padding-right: 0;
            padding-left: 0;
            border: 0;
        }

        .text-light {
            color: #babbbc !important;
        }

        .card .row-bordered>[class*=" col-"]::after {
            border-color: rgba(24,28,33,0.075);
        }    

        .text-xlarge {
            font-size: 170% !important;
        }

        .btn-primary {
          background-color: #8da47e;
          border-color: #8da47e;
        }

        .btn-default {
          border-color: #8da47e;
        }

        .btn:hover {
          background-color: #466630;
          border-color: #466630;
        }

        .fa-check {
          color: #8da47e;
        }
        
        label {
          display: inline-block;
          width: 160px;
          text-align: right;
        } ​

    </style>
</head>
<body class = "text-center">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #bebebe;">
  <a class="navbar-brand" href="/">PCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">About us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container bootdey flex-grow-1 container-p-y">

                <div class="card mb-4">
                    <form action="/bid" method="post">
                        <input type="hidden" id="pousername" name="pousername" value= <%= username %>>
                        <img class="mb-4 image" src="/images/bid.jpg" alt="" width="250" height="150">
                        <h1 class="h3 mb-3 font-weight-normal">Bid for caretaker</h1>
                            <div class="block">
                              <label for="startDate" >Start Date</label>
                              <input type="date" id="startDate" required="required" autofocus="autofocus" name="startDate">
                              <br>
                            </div>
                            <div class="block">
                              <label for="endDate" >End Date</label>
                              <input type="date" id="endDate" required="required" autofocus="autofocus" name="endDate">
                              <br>
                            </div>
                            <div class="block">
                              <label for="caretakerUsername" >Caretaker username</label>
                              <input type="text" id="username" placeholder="Caretaker Username" required="required" name="username">
                              <br>
                            </div>
                            <div class="block">
                              <label for="petname">Pet Name</label>
                              <input type="text" id="petname" placeholder="Pet Name" required="required" name="petname">
                              <br>
                            </div>
                            <div class="block">
                              <label for="biddingAmount">Bidding amount</label>
                              <input type="text" id="amount" placeholder="Bidding Amount" required="required" name="amount">
                              <br>
                            </div>
                          
                          <button type="submit">Bid</button>    
                
                        <p class="mt-5 mb-3 text-muted">&copy; PCS 2020</p>
                    </form>
                </div>

          </div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>