<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Register</title>
  </head>
	<body>                    
        <form action="/auth/register" method="post">
            <input type="radio" name="role" value="petowner" checked> Pet Owner<br>
            <input type="radio" name="role" value="caretaker"> Caretaker<br>
            <input type="text" id="firstName" placeholder="First name" required="required" autofocus="autofocus" name="firstname">
            <label for="firstName">First name</label>
            <br>
            <input type="text" id="lastName" placeholder="Last name" required="required" name="lastname">
            <label for="lastName">Last name</label>
            <br>
            <input type="text" id="username" placeholder="username" required="required" name="username">
            <label for="username">username</label>
            <br>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="password">
            <label for="inputPassword">Password</label>
            <br>
            <button type="submit">Register</button>       
        </form>               	
  </body>
</html>